.main-container{
    width:90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.back{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.656);
    color:white;
    padding: 10px 15px;
    border-radius: 10px;
    width: fit-content;
    margin: 5px;
}

.trip{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;

}

.trip h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.trip img{
    width: 70%;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-self: center;
    margin-bottom: 40px;
    
}

.description{
    width: 70%;
    text-align: center;
}

rating{
    align-self: center;
    color: #d8ca02;font-size: 40px;
    margin-bottom: 30px;
}


.nav-container{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 30px;
}

.nav-container i{
    font-size: 25px;
    cursor: pointer;
}

.count-buttons{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    padding-left: 15px;
}

.price{
    font-size: 40px
}

.spots-left{
    font-size: 13px;
    align-self: flex-start;
    align-self: center;
    
}