.navbar{
    display: flex;
    justify-content: center;
}


.navbar a{
    width: 120px;
    flex-shrink: 0;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(19, 18, 18);
    padding: 10px 10px;
    border: 1px solid rgb(83, 43, 43);
    background-color: rgb(236, 226, 226);
    text-align: center;

}

.navbar a:hover{
    background-color: rgb(158, 119, 119);
}

.navbar img{
    padding-right: 5px;
    position:relative;
    top: 5px;   
}

@media (max-width: 900px) {
    .navbar{
      flex-direction: column;
      
    }