body{
    background-color: rgb(239, 240, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color:green;
}

.mainContainer{
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;

}

.leftContainer{
    width: fit-content;
    margin-left: 30px;   
}

.leftContainer h1{
    margin:0; 
    font-size: 20px;
    margin-top: 20px;  
}

.leftContainer p{
    margin:0;
    margin-bottom: 20px;
}

.rightContainer{
    background-color: green;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    margin-right: 30px
}

#input-container{
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

#input-container form{
    display: flex;
    align-items: center;
    margin-top: 0px;
}

#input-container form div{
    margin-top: 0px;
    flex-basis: 40%;
    font-size: 10px;
    color: gray;
    
    margin:10px;
}

#input-container form div p{
    font-size: 10px;
    margin-top: 0px;
    color: gray;
    margin-bottom: 0px;
}


#input-container form div input{
    width: 100%;
    height: 25px;
}

#input-container form #submit{
    flex-basis: 20%;
    padding: 6px;
    position: relative;
    top: 7px;
    background-color: green;
    color: white;
    border-radius: 3px;
    border-color: green;
    margin-left: 5px;
}
