<nav>
    <div class="menu">
        <a routerLink="/home" routerLinkActive="active">GŁÓWNA</a>
        <a routerLink="/trips" routerLinkActive="active">WYCIECZKI</a>
        <a *ngIf="auth.userData != null" routerLink="/cart" routerLinkActive="active">KOSZYK</a>
        <a *ngIf="auth.userData != null" routerLink="/triphist" routerLinkActive="active">HISTORIA</a>
        <a *ngIf="auth.userRoles.menager == true || auth.userRoles.admin == true" routerLink="/addtrip" routerLinkActive="active">MENAGER</a>
        <a *ngIf="auth.userRoles.admin == true" routerLink="/admin" routerLinkActive="active">ADMIN</a>

    
    </div>
    
    <div class="log">
        <a  routerLink="/login" routerLinkActive="active" *ngIf="auth.userData == null">ZALOGUJ SIĘ</a>
        <a  routerLink="/register" routerLinkActive="active" *ngIf="auth.userData == null">ZAREJESTRUJ SIĘ</a>
    
        <a  (click)="auth.logOut()" *ngIf="auth.userData != null" routerLink="/home"> WYLOGUJ SIĘ</a>
        <a *ngIf="auth.userData != null" class="nav-link" >{{auth.userData.email}}</a>
    </div>

</nav>
<div class="head">Wybrana ilość: {{count()}} | Wartość: {{getSum()}} $ | Najbliższy wyjazd: {{first()}} </div>
