<div class ="main-container"> 
    <h1>Sun Travel</h1>
    <img class = "sun" src="/assets/images/sun2.jpg">

    <div class ="address">
        <p>ul. Jodłowa 5b, Kraków</p>
        <p>Tel: +48 574 541 523</p>
        <p>E-mail: sun.travel@gmail.com</p>
    </div>
    

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.9936207204055!2d19.904528877981637!3d50.067681114848234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165bbb7a8f68cf%3A0xdbbe64c567f541bd!2sDom%20Studencki%20nr%2014%20%22Kapitol%22%20Akademii%20G%C3%B3rniczo%20-%20Hutniczej%20w%20Krakowie%2C%20Witolda%20Budryka%202%2C%2030-072%20Krak%C3%B3w!5e0!3m2!1spl!2spl!4v1671382406255!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    
</div>
